@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
    background-color: #fdfdfd;
    font-family: 'Roboto', sans-serif;
}

/*----------NAVBAR---------*/

.navbar {
    background: none;
    border-color: transparent;
    letter-spacing: 7px;
    text-transform: uppercase;
    padding: 0;
}

.navbar .navbar-collapse {
    border-top: 1px solid transparent;
    overflow-x: hidden;
}

.navbar-nav li a {
    padding: 0px;
    color: #000;
}

.fixed-top .container {
    text-align: right;
    margin: 0;
    justify-content: flex-end;
    margin-left: auto;
}

.language {
    display: inline-block;
    padding: 1px;
    line-height: 44px;
}

.language:hover {
    color: #564F6F;
    text-decoration: none;
}

a {
    background-color: transparent;
    color: #888888;
    font-size: 1.12em;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.navbar .navbar-nav li a:hover {
    color: rgb(255, 255, 255);
}

/*----------JUMBOTRON----------*/

#landing-view {
    background-attachment: fixed;
    background-image: url('../images/welcome-picture1.jpg');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;
}

.top {
    padding-left: 12px;
    margin-top: 12%;
}

h1 {
    padding-top: 12%;
    font-size: 3.5em;
    color: rgb(94, 94, 94);
    text-align: center;
}

.jumbotron {
    padding: 0;
}

.jumbotron p {
    font-size: 2em;
    color: rgb(94, 94, 94);
    text-align: center;
}

i {
    width: 55px;
    padding: 20px 0;
    font-size: 38px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2.5px;
}

/*-- About me section --*/

.about-row {
    color: #c3c8ce;
    padding-bottom: 10%;
    font-size: 1.75em;
    line-height: 2;
}

h2 {
    margin-left: 15px;
    margin-top: 15%;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.about-row .about-p {
    font-size: .8em;
    margin: 40px 0px 40px 0px;
}

/*-- Career section --*/

.card {
    margin: 40px 0px 40px 0px;
}

.card-body {
    padding-left: 0.5rem;
    padding-top: 0.5rem
}

.career-link {
    padding: 0;
}

.card-title .card-text {
    margin: 0;
}

.career-icon {
    width: 25px;
    padding: 0;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 2.5px;
}


/*-- Media querie --*/

@media (min-width: 992px) {
#about-me {
    background-image: url("../images/myself-placeholder1.jpg");
    background-position: center;
    background-size: cover;
    width : 100vw;
    }


