@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
    background-color: #fdfdfd;
    font-family: 'Roboto', sans-serif;
}

/*----------NAVBAR---------*/

.navbar {
    background: none;
    border-color: transparent;
    letter-spacing: 7px;
    text-transform: uppercase;
    padding: 0;
}

.navbar-toggeler {
    background-color: #0000006e;
}
.navbar .navbar-collapse {
    border-top: 1px solid transparent;
    overflow-x: hidden;
}

.navbar-nav li a {
    padding: 0px;
    color: #000;
    text-decoration: none;
}

.fixed-top .container {
    text-align: right;
    margin: 0;
    justify-content: flex-end;
    margin-left: auto;
}

.language {
    display: inline-block;
    padding: 1px;
    line-height: 44px;
}

.language:hover {
    color: #564F6F;
    text-decoration: none;
}

a {
    background-color: transparent;
    color: #404040;
    font-size: 1.12em;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}

.navbar .navbar-nav li a:hover {
    color: rgb(255, 255, 255);
}

/*----------JUMBOTRON----------*/

#landing-view {
    background-attachment: fixed;
    background-image: url('../images/welcome-picture.jpg');
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    z-index: 1;
}

.top {
    padding-left: 12px;
    margin-top: 12%;
}

h1 {
    padding-top: 12%;
    font-size: 3.5em;
    color: #404040;
    text-align: center;
}

.jumbotron {
    padding: 0;
}

.jumbotron p {
    font-size: 2em;
    color: #404040;
    text-align: center;
}

i {
    width: 55px;
    padding: 20px 0;
    font-size: 38px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2.5px;
}

/*-- About me section --*/

.about-row {
    color: #c3c8ce;
    padding-bottom: 10%;
    font-size: 1.75em;
    line-height: 2;
}

h2 {
    margin-left: 15px;
    margin-top: 15%;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.about-row .about-p {
    font-size: .8em;
    margin: 40px 0px 40px 0px;
}

/*-- Career section --*/

#career {
    background-attachment: fixed;
    background-image: url(../images/career-image.jpg);
    background-position: center;
    background-size: cover;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    position: relative;
    font-weight: 300;
    margin-bottom: 0px;
}

.card {
    margin: 40px 0px 40px 0px;
    background-color: #ffffff3b;
}

.card-body {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0;
    padding-right: 0;
}

.career-link {
    padding: 0;
}

.card-title .card-text {
    margin: 0;
}

.career-icon {
    /*-- width: 25px; --*/
    padding: 0;
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 2.5px;
}
/*-- Education section --*/

.education-color {
   color:white; 
}

#education-menu ul {
    padding:0;
    left:auto;
}

#education-menu li {
    margin:0 20px 5px 0;
    list-style-type:none;
    float:left;
    position:relative;
}

#education-menu ul ul li {
    float:none;
    padding:0;
    margin:0 0 2px 0;
    font-weight:normal;
    display:block;
    width:auto;
    border:0;
}

.card-content {
    background-color:#ffffff54;
}

/* -- project section --*/

#projects-bg {
    background-attachment: fixed;
    background-image: url(../images/project-image.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    padding-bottom: 50px;
    background-repeat: no-repeat;
    position: relative;
    font-weight: 300;
    margin-bottom: 0px;
}

.project-color {
    color: #000;
}

.project-icon {
    text-align: center;
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.project-body {
    background-color: #ffffffad;
}

.card-footer {
    background-color: #ffffffad;
    padding: 0;
    margin: 0;
}

/*-- Contact --*/

#contact {
    background-position: left;
    padding-bottom: 100px;
    padding-top: 42px;
    text-align: left;
    margin-bottom: 30px;
    background-color:#b9b9b9;
}

.contact-h2 {
    margin-left: 15px;
    margin-top: 15%;
    margin-bottom: 5%;
    letter-spacing: 7px;
    text-transform: uppercase;
}

.form-group {
    width: 100%;
}

.contact {
    margin: 15px 0px 15px 0px;
}

#contact-head {
    margin: 30px -11px 25px 0px;
}

.btn-default {
    background-color: #ccc;
}

/*-- Media querie --*/

@media (min-width: 992px) {
#about-me {
    background-image: url("../images/myself-placeholder.jpg");
    background-position: center;
    background-size: cover;
    width : 100vw;
    }

@media (min-width: 992px) {
#education-bg {
    background-image: url("../images/education-image.jpg");
    background-position: center;
    background-size: cover;
    width : 100vw;
    padding-bottom: 10%;
    }

@media (min-width: 992px) {
.form-group {
    width: 100%;
}


